package {{basePackage}};

import org.springframework.http.HttpMethod;
import org.springframework.security.config.annotation.web.builders.HttpSecurity;

public final class ApiSecurityDefinition {

    private ApiSecurityDefinition() {
        throw new java.lang.UnsupportedOperationException("This is a utility class and cannot be instantiated");
    }

    public static void configure(HttpSecurity http) throws Exception {
        http.authorizeRequests(){{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
            .antMatchers(HttpMethod.{{httpMethod}}, "{{{basePathWithoutHost}}}{{{path}}}"){{#vendorExtensions.x-security-publicAccess}}.permitAll(){{/vendorExtensions.x-security-publicAccess}}{{^vendorExtensions.x-security-publicAccess}}.hasAnyAuthority({{#vendorExtensions.x-security-roles}}"{{{this}}}"{{^-last}}, {{/-last}}{{/vendorExtensions.x-security-roles}}){{/vendorExtensions.x-security-publicAccess}}{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
            .anyRequest().denyAll()
            .and()
            .cors().disable();
    }

}
